<% provide(:title, 'Businesses') %>
<% provide(:htitle, 'Businesses') %>
<% provide(:secondaryTitle, '')%>

<div class="container">

	<div class="row business-list">
		<% @businesses.each do |business| %>	
			<div class="col-md-4 col-xs-12 col-sm-6">
			    <div class="card">
			      <div class="content">
			        <h3><%= link_to business.name, business %></h3>
			          <address>
			            <i class="fa fa-map-marker"></i> <%= business.city %><span><%= business.state %></span><br>
			        </address>
			        <p></p>
			      </div>
			    </div>
			</div>
		<% end %>
		<div class="text-center">
		    <%= will_paginate @businesses %>  
		</div>
	</div>
</div>