<% provide(:title, @business.name)%>
<h1><%= @business.name%></h1>
<%= @business.email %>

 <div class="span8">
    <% if @business.schedules.any? %>
      <h3>Schedules (<%= @business.schedules.count %>)</h3>
      <table class="schedules">
        <%= render @schedules %>
      </table>
    <% end %>
  </div>