<% if !(logged_in? || signed_in?) %> 
<div class="center jumbotron">
	<h1> Futbol Finder</h1>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "User Sign up now!", u_signup_path, class: "btn btn-lg btn-primary" %>
	
</div>

<% else %>
	
	<%= link_to "Make a new game", new_game_path, class: "btn btn-lg btn-primary" %>
	<hr>
	<h3>Games for this week</h3>
	

<% end %>

