<%= form_for [commentable, Comment.new] do |f| %>
    <div class="form-group">
        <%= f.text_area :body, cols: "30", rows: "20", class: "form-control text-area", placeholder: "Add a comment" %>
    </div>
    <%= f.submit class: "btn btn-primary btn-fill btn-round" %> 
<% end %> 