<% provide(:title, @user.slug) %>

<div class="container">
  <div class="row" >
    <div class="col-md-offset-2 col-md-8" style="margin-top: 30px;">
      <%= render '/users/shared/user_card' %>
      <%= render '/users/shared/nav_bar' %>
      <%= render '/users/shared/friends' %>
      <% if @friends.empty?%>
          <p class="lead">You don't have friends yet.</p>
      <%end%>
    </div><!-- end of col md 8 -->
  </div><!--end of row-->

</div><!-- end container -->
