<% provide(:title, 'My Games') %>
<% provide(:htitle, 'My Games') %>
<% provide(:secondaryTitle, 'Past')%>
<%= render partial: "shared/menu_bar" %>

<div class="container games" style="margin-top:20px;">
  <% if !are_there_games?%>
    <%= render partial: "games/shared/no_games_message" %>
  <% else %>  

    <div class="row">
      <%= render partial: "games/shared/games", locals: {games: @games, subtitle: 'Past Games'} %>
    </div>
  <% end %>  
</div>