<ul class="nav nav-tabs" style=" padding-left: 3%; margin-top: 30px; margin-bottom: 30px;">		    
   
   <li class="<%= 'active' if current_page?(controller: '/users', action: 'show') %>"><%= link_to 'Games', user_path(@user) %></li>

</ul>
