<div class="card">
    <div class="content">
    	<div class="author">
    	    <a class="card-link" href="#">
    	         <img src="assets/img/default-avatar.png" alt="..." class="avatar">
    	         <span> Alex Paduraru</span>
    	    </a>
    	</div>

            <p class="title" style="padding-top: 10px;">Get Shit Done Kit PRO, the most wanted bootstrap kit is here
            	Get Shit Done Kit PRO, the most wanted bootstrap kit is here
            	Get Shit Done Kit PRO, the most wanted bootstrap kit is here
            	Get Shit Done Kit PRO, the most wanted bootstrap kit is here
            </p>

         <div class="footer">
           Nov 15 1:00PM
            <div class="stats pull-right">
                 <a href="#">
                    <i class="fa fa-comments"></i> 89
                 </a>
            </div>
            <div class="stats pull-right">
                <a href="#">
                    <i class="fa fa-heart"></i> 341
                </a>
            </div>
        </div><!--end of footer-->
    </div><!-- end of content -->
</div><!-- end of card-->


