<% provide(:title, 'Notifications') %>

<div class="container ntf" style="margin-top:20px;">
	<div class="card">
		<div class="header">
			<h4>Notifications</h4>
		</div>
		<div class="content">
			<div class="row">
		      <%= render partial: "notifications", locals: {notifications: @notifications} %>
		    </div>
		</div>
		<div class="row">
			<div class="text-center">
			    <%= will_paginate @users %>  
			</div>
		</div>	
    </div>
</div>