<% provide(:title, 'Players') %>
<% provide(:htitle, 'Players') %>
<% provide(:secondaryTitle, '')%>

<div class="container" style="margin-top:30px;">
  <div class="row">
      <ul class="users">
          <% @users.each do |user| %>
            <div class="col-md-3 col-xs-6 col-sm-4">
              <%= render partial: '/users/shared/user_card2', locals: {user: user } %>
            </div>
             
          <% end %>
      </ul>
      <div class="text-center">
          <%= will_paginate @users %>  
      </div>
      
  </div>
</div>






