<tr>
    <th><%= schedule.day %></th>
    <td><%= schedule.open_time.strftime("%I:%M%p") %></td>
    <td><%= schedule.close_time.strftime("%I:%M%p") %></td>
    <td> 
  		<%= link_to "delete", schedule, method: :delete, data: {confirm: "You sure?"}, title: schedule.day %>
  	</td>
 </tr>
