<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-7 col-sm-8 col-xs-12">
        <h1>
          <%= @game.title%>
          <small><%= @game.id%></small>
        </h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
          <% if correct_business_or_user_to_edit_page %>
                <%= link_to edit_game_path(@game.id), class: "btn btn-primary btn-fill pull-right" do %>
                    <i class="fa fa-gear"></i> Settings
                  <% end %>
          <% end %>        
      </div>
    </div>
  </div>
</div> 