<% if games.empty?  %>
  <div>
    <P class="lead">No games to display.</P>
    <% if !current_page?(controller: '/games/upcoming_games', action: 'index') %>
      <%= link_to 'New Game', new_game_path, class: "btn btn-large btn-primary btn-round btn-fill" %>
    <% end %>  
  </div>
<% else %> 
		<% games.each do |game| %>
			<div class="col-md-4 col-sm-6">
				<%= render partial: '/games/shared/game_card', locals: {game: game} %>
			</div><!-- end col -->
		<% end %>
		
<% end %>