<% if games.empty?  %>
  <div>
    <P class="lead">No games to display.</P>
    <% if !current_page?(controller: '/games/upcoming_games', action: 'index') %>
      <%= link_to 'New Game', new_game_path, class: "btn btn-large btn-primary btn-round btn-fill" %>
    <% end %>  
  </div>
<% else %> 

	<div class="row">
		<h3 class="lead" style="padding-left:20px;"><%= subtitle %></h3>
		<hr>
		<% games.each do |game| %>
			<div class="col-md-4">
				<%= render partial: '/games/shared/game_card', locals: {game: game} %>
			</div><!-- end col -->
		<% end %>
		
	</div><!-- end row -->

<% end %>