<% provide(:title, @user.name) %>

<div class="container">
  <div class="row" >
    <div class="col-md-4" style="margin-top: 30px;">
      <%= render '/users/shared/user_card' %>  
    </div><!-- end of column -->

    <div class="col-md-8">
      <%= render '/users/shared/nav_bar' %>
      <% if !@games.empty? %>
          <%= render partial: "games/shared/games_cards", locals: {games: @games, subtitle: 'This week'} %>
          <hr>
      <% else %>
        <p class="lead">No game to display</p>    
      <% end %>
    </div><!-- end of col md 4 -->
  </div><!--end of row-->

</div><!-- end container -->

