@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "mixins";


html{ height: 100%; }
body { 
        padding-top: 50px; height:100%; 
        font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
        background-color: #fafafa;
    }

h1,h2,h3,h4,h5,h6{
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
}    

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
  @media(max-width: 767px){
        margin-left: 1rem;
      }
}

/********* BUTTONS ************/
.btn{
    border-width: $border-thick;
    background-color: $transparent-bg;
    font-weight: $font-weight-normal;
    
    @include opacity(.8);
    padding: $padding-base-vertical $padding-base-horizontal;
    
    @include btn-styles($default-color, $default-states-color);
    
    &:hover,
    &:focus{
        @include opacity(1);
        outline: 0 !important;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
         @include box-shadow(none);
         outline: 0 !important;
    }
    
    &.btn-icon{
        padding: $padding-base-vertical;
    }
    
}

// Apply the mixin to the buttons
//.btn-default { @include btn-styles($default-color, $default-states-color); }
.btn-primary { @include btn-styles($primary-color, $primary-states-color); }
.btn-success { @include btn-styles($success-color, $success-states-color); }
.btn-info    { @include btn-styles($info-color, $info-states-color); }
.btn-warning { @include btn-styles($warning-color, $warning-states-color); }
.btn-danger  { @include btn-styles($danger-color, $danger-states-color); }
.btn-neutral { 
    @include btn-styles($white-color, $white-color);
    
    &:active,
    &.active,
    .open > &.dropdown-toggle{
         background-color: $white-color;
         color: $default-color;
    }    
    
    &.btn-fill,
    &.btn-fill:hover,
    &.btn-fill:focus{
        color: $default-color;
    }
    
    &.btn-simple:active,
    &.btn-simple.active{
        background-color: transparent;
    }
}

.btn{
     &:disabled,
     &[disabled],
     &.disabled{
        @include opacity(.5);
    }
}
.btn-round{
    border-width: $border-thin;
    border-radius: $btn-round-radius !important;
    padding: $padding-round-vertical $padding-round-horizontal;
    
    &.btn-icon{
        padding: $padding-round-vertical;
    }
}
.btn-simple{
    border: $none;
    font-size: $font-size-medium;
    padding: $padding-base-vertical $padding-base-horizontal;
    
    &.btn-icon{
        padding: $padding-base-vertical;
    }
}
.btn-lg{
   @include btn-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $border-radius-large);
   font-weight: $font-weight-normal;
}
.btn-sm{
    @include btn-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $border-radius-small);    
}
.btn-xs {
    @include btn-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $border-radius-small);
}
.btn-wd {
    min-width: 140px;
}

.btn-group.select{
    width: 100%;
}
.btn-group.select .btn{
    text-align: left;
}
.btn-group.select .caret{
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 8px;
}

/*.btn-primary{
    background-color: #c72166 !important;
    border:#c72166;
}
.btn-fill:hover{
    background-color: #b7024d !important;
}*/

/**************** Alerts ***********************/
.alert{
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    padding: 10px 15px;
    font-size: 14px;
    margin-bottom: 0px !important;
    
    .container &{
        border-radius: 4px;
    
    }
    .navbar &{
        border-radius: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 85px;
        width: 100%;
        z-index: 3;
    }
    .navbar:not(.navbar-transparent) &{
        top: 70px;
    }
}
.alert-info{
     background-color: $azure-navbar;
}
.alert-success {
    background-color: $green-navbar;
}
.alert-warning {
     background-color: $orange-navbar;
}
.alert-danger {
     background-color: $red-navbar;
}


/************* Inputs and Forms ****************/
form{
  .row{
    margin-bottom: 15px;
  }
}

.new_game{
    .btn-round{
        margin-left: 10px;
  }
}

.form-group{

  label{
    padding-top: 10px;
    float: right;
  }
}
@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .form-group label{
        float:left;
        font-size: large;
        padding-left: 10px;
    }
    
    .form-control{
        height: 60px !important;
        margin-left: 10px;
        width: 96%;
        margin-right: 30px !important;
    }

    .new_game{
    input{
        margin-right: 10px;
  }
}
}

.form-control::-moz-placeholder{
   @include placeholder($medium-gray,1);
}
.form-control:-moz-placeholder{
   @include placeholder($medium-gray,1);
}
.form-control::-webkit-input-placeholder{
   @include placeholder($medium-gray,1);
}
.form-control:-ms-input-placeholder{
   @include placeholder($medium-gray,1);
}

.form-control {
    height:30px;
    background-color: $white-bg;
    border: 1px solid $medium-gray;
    border-radius: $border-radius-base;
    color: #444444;
    @include input-size($padding-base-vertical, $padding-base-horizontal, $height-base);
    @include box-shadow(none);

    &:focus{
           background-color: $white-bg;
           border: 1px solid $dark-gray;
           @include box-shadow(none);
           outline: 0 !important;
    }

    .has-success &,
    .has-error &,
    .has-success &:focus,
    .has-error &:focus{
        border-color: $light-gray;
        @include box-shadow(none);
    }

    .has-success &{
        border-color: $success-color;
    }
    .has-success &:focus{
        border-color: $success-color;
    }
    .has-error &{
        color: $danger-color;
        border-color: $danger-color;
    }
    .has-error &:focus{
        border-color: $danger-color;
    }

    & + .form-control-feedback{
        border-radius: $border-radius-large;
        font-size: $font-size-base;
        margin-top: -7px;
        position: absolute;
        right: 10px;
        top: 50%;
        vertical-align: middle;
    }

    .open > &{
        border-radius: $border-radius-base $border-radius-base 0 0;
        border-bottom-color: transparent;
    }
}

.input-lg{
    height: 55px;
    padding: $padding-large-vertical $padding-large-horizontal;
}

.has-error{
    .form-control-feedback{
        color: $danger-color;
    }
}
.has-success{
    .form-control-feedback{
        color: $success-color
    }
}


.input-group-addon {
    background-color: $white-color;
    border: 1px solid $light-gray;
    border-radius: $border-radius-base;

    .has-success &,
    .has-error &{
        background-color: $white-color;
        border: 1px solid $light-gray;
    }
    .has-error .form-control:focus + &{
        border-color: $danger-color;
        color: $danger-color;
    }
    .has-success .form-control:focus + &{
        border-color: $success-color;
        color: $success-color;
    }
    .form-control:focus + &,
    .form-control:focus ~ &{
        background-color: $white-color;
        border-color: $dark-gray;
    }
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-right: 0 none;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
    border-left: 0 none;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: $light-gray;
    color: $default-color;
    cursor: not-allowed;
}

.input-group-btn .btn{
    border-width: $border-thin;
    padding: $padding-round-vertical $padding-base-horizontal;
}
.input-group-btn .btn-default:not(.btn-fill){
    border-color: $medium-gray;
}

.input-group-btn:last-child > .btn{
    margin-left: 0;
}

.input-group-focus .input-group-addon{
    border-color: $dark-gray;
}

.text-area{
    height: 60px !important;
}

/****** END INPUT AND FORMS******/



/* Global Styles */

body {
    margin-top: 100px;
    
}
h1{
    font-size: 2em !important;
}
.black-background{
  background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
    height:100%;
}

#page-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.logo-biz{
  margin-left: 15px;
}

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.side-nav .push-to-bottom{
  position:absolute;
  bottom: 0;
  width: 100%;
}

/************ Page title header ***************************/

.page-header{
    background-color:#201a50;
    margin:0;
    padding: 20px 0 20px;
    border-bottom: none !important;

    h1{
        color:#b5ef3a;
    }

    .btn{
        margin-top: 1em;
    }
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .page-header {
        h1, .btn{ 
            text-align: center;
        }
        .btn{
            width:50%;
            margin-left: 25%;
            float:none !important;

        }
    }

    
}

/*************** GAMES *****************/
@media only screen and (max-width: 600px){
    .games{
        h3{
            font-size:1.5em;
        }
    }
    .game-content{
        .game-description{
            font-size: 2rem;
        }
        strong.lead{
            font-size: 2rem;
        }
    }
    .game-content .card-info-content .info-invites span.value{
        font-size: 1.2rem;
    }

}
@media only screen and (max-width: 800px){
  .games{
    h3{
            font-size:1.5em;
        }
  }

  .game-content{
        .game-description{
            font-size: 2rem;
        }   
    }
    .game-content h4{
        font-size: 2rem;
        text-align: center;
    }
    .game-content .card-venue-content .venue-buttons .col-xs-12{
        margin-bottom: 10px;
    }

    .players-list h3{
        font-size: 2rem;
        text-align: center;
    }
    .games-comments h3{
        font-size: 2rem;
        text-align: center;
    }
}

@media only screen and (max-width: 1000px){
   .games{
        h3{
            font-size:1.5em;
        }
   }
   .game-content .card-venue-content .cancel-res{
            margin-bottom: 20px;
    }
}

.date-picker{
  

}
.year{
  
}
.month{
  
}
.day{
  
}
.comments{
    max-height:550px !important;
    padding-right: 20px;
    padding-bottom:20px;

    img{
        width:40px;
    }
}
.game-description{
    margin-bottom: 30px;
    margin-top: 10px;
}
.game-sb-players{
    img{
        width:40px;
        margin-right:5px;
    }
    h5{
        padding-top: 12px;
    }
    small{
        a:hover{
            background-color:#da0836 !important;
            border: none !important;
        }

        .btn-success:hover{
            background-color: #027708 !important;
        }

    }
    .btn-round{
        padding:2px 7px !important; 
        border:none !important;       
    }
}

.game-sd-tabs{
    margin-bottom: 20px;
    background-color: #201a50;
    a {
        color:#fff;
    }

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: #fafafa;
    border-top:3px solid #c72166;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover{
    color:#000;
    background-color: #fafafa;

}

.game-content{

    h4{
        color:#201a50;
    }

    .card{
        .content{
            .category{
                a{
                    color:#201a50;
                }
            }
            .card-venue-content{
                
                font-size: 1.6rem;
                text-align: center;
                padding-bottom: 20px;
                .icon{
                    font-size: 1.7em;
                }
                strong{
                    color:#c72166;
                    font-weight: 700;
                }
                .row{
                    padding-top: 20px;
                }
                .date-time{
                    margin-top: 20px;
                }
        
            }
            .card-info-content{
                margin-bottom: 20px;

                .info{
                    text-align: center;
                    margin-bottom: 20px;
                    .icon{
                        font-size: 1.7em;
                    }
                    .description{
                        font-size: 1.6rem;
                        .title{
                            color:#c72166;
                            font-weight: 700;
                        }
                        .value{
                            color:#777777;
                        }
                    }
                }
            }
        }
    }
}
.game-header{
    margin-bottom: 20px;
    .btn-primary{
        margin-top: 20px;
    }
}

.invite-player-game{
    margin-top: 20px;

    .btn{
        margin-top: 10px;
    }
}





/**** Game Players *****/

    .players-list{
        .btn-group{
            button.btn{
                width: 100px;
            }
        }
    }
/* game index */

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
    padding-top: 15px;
    padding-bottom: 15px;
}

/*** Conversation ***/

.comments-img{
    width: 60px;
}

/******************  FIND AVAILABLE FIELDS ************************/
.select-game{
    
    .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
        border-top: none;
    }

}


/************ BUSINESSES *****************/
@media only screen and (max-width: 600px){
    .business-list{
        img{
            display:none;
        }
        .btn-default{
        }
        h3{
            font-size: 1.1em;
        }
        address{
            font-size: 1em;
        }
        
    }
}
@media only screen and (max-width: 800px){
    .business-list{
        img{
            display: none;
        }
   }
}

@media only screen and (max-width: 1000px){
    .btn-default{
    }
    .btn-primary{
        font-style: 12px;
    }
}

.business-list{
    margin-top: 20px;
    h3{
        font-size: 1.5em;
        font-weight: 300;
    }
    img{
        width:100%;
    }
}

/* show business */
.biz-page{
    margin-top:20px;

    h1{
        margin-bottom: 0.2em !important;
    }
}
.biz-sidebar{
    img{
        width:100%;
    }
}
.thumbnail{
    .btn-profile{
        margin-top: 20px;
    }
}
.biz-posts{
    .media .img-circle{
        width: 80%;
    }
}

/****************** USERs **************************************/

.users{
    list-style: none;
    padding-left: 0px;

    li{
        margin-bottom: 20px;
    }
}

.user{
    img{
        width:150px;
        height: 150px;
    }
}


/********************** CARDS *****************************/
@mixin filter($color){
    @if $color == #FFFFFF{
         background-color: rgba($color,.91);
    } @else {
         background-color: rgba($color,.69);
    }
}


.card{
    border-radius: $border-radius-large;
    box-shadow: 0 1px 4px rgba(0,0,0,.23);
    background-color: #FFFFFF;
    margin-bottom: 20px;

    .image{
        width: 100%;
        overflow: hidden;
        height: 260px;
        border-radius: $border-radius-large-top;
        position: relative;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;

        img {
            width: 100%;
        }
    }
    .filter{
        position: absolute;
        z-index: 2;
        background-color: rgba(0,0,0,.68);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;

        @include opacity(0);

        .btn{
            @include vertical-align();
        }
    }
    &:hover .filter{
        @include opacity(1);
    }
    .btn-hover{
        @include opacity(0);
    }
    &:hover .btn-hover{
        @include opacity(1);
    }
    .content{
        padding: 15px 15px 10px 15px;
    }
    .category{
        font-size: $font-size-base;
        color: $dark-gray;
        margin-bottom: 0px;

        i{
            font-size: $font-paragraph;
        }
    }
    .title{
        margin: $margin-bottom;
        color: $black-color;
        font-weight: $font-weight-light;
    }
    .avatar{
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px;
    }
    .description{
        font-size: $font-size-base;
        color: #333;
    }
    .footer{
        padding: 0;
        background-color: $transparent-bg;
        line-height: 30px;
    }
    .footer div{
        display: inline-block;
    }
    .stats{
        margin-right: 5px;
        color: $dark-gray;

    }
    .stats.pull-right{
        margin-left: 5px;
        margin-left: 0;
    }
    .card-link{
        color: $dark-gray;
    }
    .author{
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }
    .author i{
        font-size: $font-size-base;
    }
    h6{
        font-size: $font-size-small;
        margin: 0;
    }
    &.card-separator:after{
        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: $medium-gray;
        content: "";
        position: absolute;
    }
}
.card-user{
    .image{
        height: 110px;
    }
    .image-plain{
        height: 0;
        margin-top: 110px;
    }
    .author{
        text-align: center;
        text-transform: none;
        margin-top: -70px;
    }
    .avatar{
        width: 124px;
        height: 124px;
        border: 5px solid #FFFFFF;
        position: relative;
        margin-bottom: 15px;

        &.border-gray{
            border-color: #EEEEEE;
        }
    }
    .title{
        line-height: 24px;
    }
    .content{
        min-height: 240px;
    }
}

.card-product{
    .image{
        height: auto;
    }
    .title{
        margin: 0;
    }
    .price{
        font-size: 18px;
        color: $dark-gray;
        font-weight: $font-weight-light;
    }
    .price-old{
        text-decoration: line-through;
        font-size: $font-paragraph;
        color: $dark-gray;
    }
    .price-new{
        color: $danger-color;
    }
    .footer{
        line-height: 40px;
        margin: 0;
    }

    .carousel-control{
        width: 40px;
        text-shadow: 0 0 0;
        color: $dark-gray;
        @include opacity(0.7);

        &.left .fa{
            left: 5px;
        }
        &.right .fa{
            left: auto;
            right: 5px;
        }

        &:hover,
        &:focus{
            @include opacity(1);
        }
    }

}
.card-refine{
    .header{
        padding: 10px 15px 0px 15px;
       h4{
            line-height: 40px;
       }
    }
    .content{
        padding: 0;
    }
    .panel{
        background-color: $transparent-bg;
        border-bottom: 0;
        border-top: 1px solid $medium-gray;
    }
    .panel-heading{
        padding: 0;
        box-shadow: 0 0 0;
        border-radius: 0;
    }
    .panel-default > .panel-heading{
        box-shadow: 0 0 0;
        background-color: $transparent-bg;
    }
    .panel-group .panel-heading + .panel-collapse .panel-body {
        border: 0;
    }
    .panel-group .panel-title{
        font-size: 12px;
    }
    .panel-title a{
        padding: 17px 15px;
        display: block;
    }
    .slider{
        margin-top: 10px;
    }
    .radio,
    .checkbox{
        margin-top: -5px;
    }
    .price-left{
        float: left;
    }
    .price-right{
        float: right;
    }
    .panel-scroll{
        height: 273px;
        overflow-y: scroll;
    }

    .panel-group .panel + .panel{
        margin: 0;
    }
    .collapsed{
        i{
            @include rotate-180();
        }
    }
}
.card-price{
    position: relative;
    .price{
        font-weight: $font-weight-light;
        text-align: center;
        font-size: 66px;
        small{
            margin-right: 4px;
            margin-left: -13px;
            color: $black-color;
        }
    }
    .category{
        text-align: center;
        margin-top: 10px;
    }
    .content{
        min-height: 330px;
    }
    .list-unstyled{
        padding-top: 20px;
        font-size: $font-size-base;
        text-align: center;
        color: $dark-gray;
        b{
            color: $black-color;
        }
        li{
            margin-bottom: 5px;
        }
    }
    .list-lines{
        text-align: left;
        li{
            margin: 0;
            padding: 10px 0;
            border-bottom: 1px solid $light-gray;
        }
        li:last-child{
            border: 0;
        }
    }
    .fa{
        width: 26px;
        text-align: center;
        font-size: $font-paragraph;
    }
    &.card-price-best-deal{
        margin-top: -25px;

        .content{
            min-height: 380px;
        }
    }

}

.card-background{
    position: relative;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    .image{
        border-radius: $border-radius-large;
    }
    .filter{
        @include opacity(0.55);
        border-radius: $border-radius-large;
    }
    &:hover .filter{
        @include opacity(0.75);
    }

    .title,
    .stats,
    .category,
    .description,
    small,
    a{
        color: $white-color;
    }
    small{
        font-weight: $font-weight-normal;
    }
    .title{
        margin-top: 30px;
        font-weight: $font-weight-normal;
    }
    .content,
    .footer{
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
    }
    .footer{
        bottom: 0;
        top: auto;
        padding: 10px 15px;
        width: 100%;
        line-height: 40px;
        color: $white-color;
    }
    .avatar{
        border: 2px solid $white-color;
        width: 32px;
        height: 32px;
    }

    .video{
        overflow: hidden;
        border-radius: $border-radius-large;
        position: relative;
        max-height: 300px;
    }
    video{
        width: 100%;
        border-radius: $border-radius-large;
        -webkit-border-radius: $border-radius-large;
    }
    &.state-play .filter,
    &.state-play .content,
    &.state-play .category,
    &.state-play .btn,
    &.state-play .stats{
        @include opacity(0);
    }
    &.state-play:hover .btn{
        @include opacity(1);
    }
    .map{
        border-radius: $border-radius-large;
        height: 300px;
    }
    h1.title{
        font-weight: $font-weight-light;
    }
    .price{
        margin: 0;
        color: $white-color;
    }
}

.card-refine,
.card-product{
    .btn-xs{
        margin: 8px 0;
    }
    .btn-simple{
        padding-left: 0;
        padding-right: 0;
    }
}
.card-user,
.card-price{
    .footer{
        padding: 5px 15px 10px;
    }
    hr{
        margin: 5px 15px;
    }
}
.card-plain{
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;

    .image{
        border-radius: 4px;
    }
}

.filter.filter-white{
    @include filter($white-color);
}
.filter.filter-blue{
    @include filter($filter-blue);
}
.filter.filter-azure{
    @include filter($filter-azure);
}
.filter.filter-green{
    @include filter($filter-green);
}
.filter.filter-orange{
    @include filter($filter-orange);
}
.filter.filter-red{
    @include filter($filter-red);
}

@media (min-width: 768px){
    .card-horizontal{
        .image{
            border-radius: 6px 0 0 6px;

            img{
                height: 100%;
                width: auto;
            }
        }
        .description{
            min-height: 100px;
        }
        .content{
            padding: 15px 15px 10px 0;
        }
    }
}

.pagination {
    ul{
        list-style: none;

        li {
            float: left;
        }
    }
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .pagination .previous_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .previous_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }


/****** LOGIN PAGE *****/

.login-page{
    background: url(http://assets.futfinder.com/soccer-field.png) no-repeat;
    background-size: cover;

    label{
        margin-top:10px;
    }

    .login-form{
        padding: 40px 50px 10px 50px;
        margin-top:20%; 
        margin-bottom: 20%;
    }

    .checkbox{
        margin-top: 30px;
        margin-left: 20px;
    }
    .btn{
        padding-right: 30px;
        padding-left: 30px;
    }
    p{
        padding-top: 20px;
        text-align: center;
    }
}

