<% provide(:title, @user.slug) %>

<div class="container">
  <div class="row" >
    <div class="col-md-4" style="margin-top: 30px;">
      <%= render '/users/shared/user_card' %>  
    </div><!-- end of column -->

    <div class="col-md-8">
      <%= render '/users/shared/nav_bar' %>
      <%= render '/users/shared/requests' %>
    </div><!-- end of col md 4 -->
  </div><!--end of row-->

</div><!-- end container -->


