<tr>
    <th>id:<%= game_line.id %></th>
    <td><%= game_line.user_id %></td>
    <td><%= game_line.game_id %></td>
    <td> 
    	<% if is_correct_user_or_business_associated_with_game_line?(game_line) %>
  			<%= link_to "delete",game_line, method: :delete, data: {confirm: "You sure?"}, title: game_line.id %>
  		<% end %>
  	</td>
 </tr>
