<% provide(:title, 'My Games') %>
<% provide(:htitle, 'My Games') %>
<% provide(:secondaryTitle, 'Planning')%>
<%= render partial: "shared/menu_bar" %>
<div class="container" style="margin-top:20px;">
  <% if !are_there_games?%>
    <%= render partial: "games/shared/no_games_message" %>
  <% else %>  

    <div class="row">
     
      <%= render partial: "games/shared/games_no_date_cards", locals: {games: @games, subtitle: 'Planning'} %>
      
    </div>
  <% end %>  
</div>