<div>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to root_path, :id => "logo" do %>
               <span style="font-size: 1.0em;"><i class="fa fa-soccer-ball-o"></i></span> FutFinder  
            <% end %>
        </div><!-- end div navbar-header -->           
            <ul class="nav navbar-nav navbar-right">
              <% if current_page_login? %>  
                <li><%= link_to "Sign up", u_signup_path %></li>
              <% elsif current_page_user_sign_up? %>
                <li><%= link_to "Log in", login_path %></li>
              <% end %>
                
            </ul><!-- end ul nav -->
      </div><!-- End div container fluid -->
  </header>