<div class="page-header">
  <div class="container">
    <div class="row">

      <h1>
        <%= title %>
        <small><%= secondaryTitle %></small>
        <%= render 'layouts/page_header_buttons'%>
      </h1>
    </div>
  </div>
</div> 